<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>



<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        <!-- <img src="{{ "flyer2023.jpg" | absURL }}" alt="Logo des Baladins de la Tour" class="logo"> -->        
        {{- block "main" . }}{{ end }}   
           
    <div>
        <p>Téléphone (présidente): 06 52 45 69 00</p>
        <p>lesbaladinsdelatour35@gmail.com</p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
        <h3 style="margin-top: 20px;">Notre cercle culturel</h3>
<ul style="margin-top: 10px;">
    <li style="list-style: none;">> <a href="https://www.lafabrik.bzh/" target="_blank">Ecole de Musique</a></li>
    <li style="list-style: none;">> <a href="https://www.espacebelair.net/" target="_blank">Espace Bel Air</a></li>
    <li style="list-style: none;">> <a href="https://mediatheques.liffre-cormier.fr/" target="_blank">Mediathèque</a></li>
    <li style="list-style: none;">> <a href="https://www.st-aubin.educagri.fr/" target="_blank">Lycée agricole</a></li>
</ul>


        
    </footer>
    </main>
    
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}

    <script type="text/javascript" src="js/carousel.js"></script>
    <link rel="stylesheet" href="css/carousel.css">
</body>

</html>
